.message{data: {message: {id: message.id}}}
  .message__detail
    .message__detail__user-name
      = message.user.name
    .message__detail__date
      = message.created_at
  .message__contents
    - if message.content.present?
      %p.message__contents--content
        = message.content
    = image_tag message.image.url, class: 'message__contents--image' if message.image.present?